.products_navbar{
    border: 1px solid red;
background-color: rgb(127, 100, 62);
    height: 17vh;
    width: 100%;
   
}
.main_section{display: flex;}

.filter_section{
    width: 20%;
    border:1px solid black;


}


.product_section{
    display: grid;
    width: 75%;
    margin-left: 5%;
    margin: auto;
    grid-template-columns: repeat(4 ,1fr);
    column-gap: 6%;
    row-gap: 2%;
}
